/*for testing*/
/* {
  border: 1px dotted green;
}
*/

.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: green;
  fill-opacity: .4;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

.search {
  margin-top: 50px;
}

.results {
  position: relative;
  top: 50%;
}

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}

.div-table-content {
  height:350px;
  overflow-y:auto;
}