/*for testing*/
/* {
  border: 1px dotted green;
}
*/

.land {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: green;
  fill-opacity: .4;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}

/*.results {
  position: relative;
  top: 50%;
}*/

table{
  border-collapse:collapse;
  border:1px solid black;
}

table td, table th{
  border:1px solid black;
  padding: 5px;
}

.worst {
  background-color: red;
}

.best {
  background-color: lightgreen;
}

.ui-autocomplete-term { 
  font-weight: bold; color: blue; 
}