/*for testing*/
/* {
  border: 1px dotted green;
}
*/

.search {
  margin-top: 50px;
}

#datefield {
  width: 190px;
}

/*.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}*/

/*.navbar .navbar-collapse {
  text-align: center;
}*/

.dropdown-toggle {
  color: white;
}

.navbar-header {
    float: left;
    padding: 3px;
    text-align: center;
    width: 98%;
}
.navbar-brand {
  float: none;
  font-size: 170%;
}

.navbar {
  margin: 0.5% .5% 0 .5%;
}

.results {
  margin-left: 1%;
  margin-right: 1%;
}

.dropdown {
  width: 150px;
}

.form-control {
  width: 150px;
}

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}

.div-table-content {
  height: 420px;
  overflow-y: auto;
  border: 3px black;
}

h3 {
  color: black;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: lighter;
  margin: 60px auto 8px;
}

.loader {
  width: 200px;
  height: 200px;
  -webkit-animation: spin 1.2s infinite linear;
  -moz-animation: spin 1.2s infinite linear;
  display: block;
  margin: 0 auto;
}

.trail {
  fill: rgba( 255, 255, 255, 0.9 );
  fill: none;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate( 0deg );
  }
  100% {
    -moz-transform: rotate( 360deg );  
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate( 0deg );
  }
  100% {
    -webkit-transform: rotate( 360deg );  
  }
}

.signin-margin, .signup-margin {
  margin: 5px 0;
}

.ui-widget {
  max-height: 150px; 
  max-width: 250px;
  overflow-y: scroll; 
  overflow-x: hidden;
  background-color: white;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.ui-state-focus {
  color:White;
  background:#00BFFF;
  outline:none;
}

@media (max-width:1080px){
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
   }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
   }
   .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  } 
}

.nav .navbar-nav .navbar-right {
  height:40px;
}

#signout {
  height: 40px;
}

.navbar-form {
  padding: 0;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
}