<div ng-controller="SearchController">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Freedom Spoke</a>
      </div>



      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <form class="navbar-form navbar-left" role="search">

          <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" placeholder="Date" ng-model="search.date" required/>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker({
                    format: 'YYYY/MM/DD'
                  });
              });
          </script>




          <div class="form-group">
            <input type="text" class="form-control" placeholder="Origin" ng-model="search.origin" required>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Destination" ng-model="search.destination" required>
          </div>

          <div class="form-group">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More Destinations<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">

              <div class="form-group">
                <input type="text" class="form-control" placeholder="Destination 2" ng-model="search.destination2">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Destination 3" ng-model="search.destination3">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Destination 4" ng-model="search.destination4">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Destination 5" ng-model="search.destination5">
              </div>
              </ul>
            </li>
          </div>

          <button type="submit" class="btn btn-default" ng-click="getFlights(search.origin, search.destination, search.date); getFlights(search.origin, search.destination2, search.date); getFlights(search.origin, search.destination3, search.date); getFlights(search.origin, search.destination4, search.date); getFlights(search.origin, search.destination5, search.date);">Submit</button>

          <button type="submit" class="btn btn-default" ng-click="reset()">Clear</button>
        </form>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" ng-click=
            "logout()";>Logout</a></li>
        </ul>
      </div>

    </div>
  </nav>
</div>
















<!-- <div class="search" layout="row" ng-controller="SearchController">

  <form novalidate class="css-form">
    <cite>Please use 3 letter airport code</cite><br/>
    Origin airport: <input type="text" ng-model="search.origin" required /><br/>
    Destination airport: <input type="text" ng-model="search.destination" required /><br/>
    
    <cite>Please use this format: 2015-28-10</cite><br/>
    Departure date: <input type="text" ng-model="search.departuredate" required /><br/>

    <input type="button" ng-click="reset()" value="Clear" />
    <input type="submit" ng-click="update(search); getFlights(search.origin, search.destination, search.departuredate)" value="Submit" />
  </form>

</div> -->

<!-- <form name="myForm" ng-controller="ExampleController">
  <label>Single word:
    <input type="text" name="input" ng-model="example.text"
           ng-pattern="example.word" required ng-trim="false">
  </label>
  <div role="alert">
    <span class="error" ng-show="myForm.input.$error.required">
      Required!</span>
    <span class="error" ng-show="myForm.input.$error.pattern">
      Single word only!</span>
  </div> -->
  <!-- <tt>text = {{example.text}}</tt><br/>
  <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br/>
  <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br/>
  <tt>myForm.$valid = {{myForm.$valid}}</tt><br/>
  <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br/>
 </form> -->

