<div class="search" ng-controller="SearchController">

  <form novalidate class="css-form">
    Date: <input type="text" ng-model="search.date" required /><br/>
    Origin: <input type="email" ng-model="search.origin" required /><br/>
    Destination: <input type="text" ng-model="search.destination" required /><br/>
    Max price: <input type="text" ng-model="search.price" required /><br/>

    <!-- Gender: <input type="radio" ng-model="search.gender" value="male" />male
    <input type="radio" ng-model="search.gender" value="female" />female<br/> -->

    <input type="button" ng-click="reset()" value="Clear" />
    <input type="submit" ng-click="update(search)" value="Submit" />
  </form>

  <!-- <pre>form = {{search | json}}</pre>
  <pre>master = {{master | json}}</pre> -->
</div>
