<div ng-controller="UserController">
  <div class="row">

    <!-- wrapper column for signin -->
    <div class="col-md-2 col-md-offset-5">
      <div>
        <h3>Sign In</h3>
      </div>

      <!-- name or email input -->
      <div class="row">
        <div class="signin-margin">
          <input type="text"
            class="form-control input-md"
            required class="text"
            placeholder="Username"
            ng-model="user.username"/>
        </div>
      </div>

      <!-- password input -->
      <div class="row">
        <div class="signin-margin">
          <input type="password"
            class="form-control input-md"
            required class="text"
            placeholder="Password"
            ng-model="user.password"
            ng-keyup="$event.keyCode == 13 && signin()"/>
        </div>
      </div>

      <!-- signin button -->
      <div class="row">
        <div class="signin-margin">
          <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Check your username and password" value="Submit" ng-click="signin()">Submit</button>
        </div>
      </div>

      </br>
      <div class="alert alert-dismissible alert-danger" ng-show="incorrectSignin">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Check username and password
      </div>

      <!-- new account option -->
      <div class="row">
        <div class="col-md-12">
          Need a new account?
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="/#/signup">Sign Up</a>
        </div>
      </div>
    </div>

  </div>
</div>
