<div ng-controller="UserController">
  <div class="row">

    <!-- wrapper column for signup -->
    <div class="col-md-2 col-md-offset-5">
      <div>
        <h3>Sign Up</h3>
      </div>

      <!-- name or email input -->
      <div class="row">
        <div class="signup-margin">
          <input type="text"
            class="form-control input-md"
            required class="text"
            placeholder="Username"
            ng-model="user.username"/>
        </div>
      </div>

      <!-- password input -->
      <div class="row">
        <div class="signup-margin">
          <input type="password"
            class="form-control input-md"
            required class="text"
            placeholder="Password"
            ng-model="user.password"/>
        </div>
      </div>

      <!-- confirm password input -->
      <div class="row">
        <div class="signup-margin">
          <input type="password"
            class="form-control input-md"
            required class="text"
            placeholder="Confirm Password"/>
        </div>
      </div>

      <!-- signin button -->
      <div class="row">
        <div class="signin-margin">
          <button type="button" class="btn btn-default" value="Submit" ng-click="signup()">Submit</button>
        </div>
      </div>
      
      </br>
      <div class="alert alert-dismissible alert-danger" ng-show="incorrectSignup">
        <button type="button" class="close" data-dismiss="alert">×</button>
        Username taken
      </div>

      <!-- new account option -->
      <div class="row">
        <div class="col-md-12">
          Already have an account?
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="/#/signin">Sign In</a>
        </div>
      </div>
      

    </div>

  </div>
</div>